<mat-toolbar class="nav" color="warn">
  <!-- <span class=""><img src="./assets/vagabond.png" style="height: 90px;"></span> -->

  <span class="example-fill-remaining-space navTitle">Vagabond </span>

  <span>
    <a routerLink="/home"><button mat-button class="navButton">Home</button></a>
    <a routerLink="/state"><button mat-button class="navButton">States</button></a>
    <a routerLink="/landmark"><button mat-button class="navButton">Landmarks</button></a>
    <a routerLink="/admin"><button mat-button class="navButton">Admin</button></a>
    <a routerLink="/signin"><button mat-button class="navButton">Login</button></a>
    <a routerLink="/signup"><button mat-button class="navButton">Signup</button></a>
  </span>
</mat-toolbar>
