.body{
  background-image: url('../../../assets/bahamas.jpg') !important;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  overflow-y: hidden;
  margin-top: 5em;
}
.signin {
  max-width: 400px;
  margin: 100px auto;
}
.signin form {
    display: flex;
    flex-direction: column;
  }
