<div class="container">
<h1 mat-dialog-title>Create Landmark</h1>
<mat-dialog-content >
    <div class="formGroup">
        <form [formGroup]="landmarkForm" novalidate (ngSubmit)="onSubmit()">

            <mat-form-field style="width:450px !important">
                Title:
                <input matInput id="title" type="text" formControlName="title" required>
                <mat-error *ngIf="hasError('state', 'required')">Title is required.</mat-error>
            </mat-form-field >
            <br>
            <mat-form-field style="width:450px !important">
                Date Last Visited:
                <input matInput id="date" type="date" formControlName="dateLastVisited" required>
                <mat-error *ngIf="hasError('state', 'required')">Tell us when you were there.</mat-error>
            </mat-form-field >
            <br>
            <mat-form-field style="width:450px !important">
                Image URL:
                <input matInput id="imageURL" type="text" formControlName="imageURL">
            </mat-form-field >
            <br>
            <mat-form-field style="width:450px !important">
                Comments:
                <input matInput id="comments" type="text" formControlName="comments">
            </mat-form-field >
            <br>

            <mat-form-field style="width:450px !important">
                Address:
                <input matInput id="address" type="text" formControlName="address">
            </mat-form-field >
            <br>
            <mat-form-field style="width:450px !important">
                City:
                <input matInput id="city" type="text" formControlName="city">
            </mat-form-field >
            <br>
            <mat-form-field style="width:450px !important">
                Zip:
                <input matInput id="zip" type="text" formControlName="zip">
            </mat-form-field >
            <br>
            <mat-form-field style="width:450px !important">
                State:
                <input matInput id="state" type="text" formControlName="state">
                <mat-error *ngIf="hasError('state', 'required')">State is required.</mat-error>
            </mat-form-field >
            <br>
            <mat-dialog-actions>
                <button mat-button type="submit" [disabled]="!landmarkForm.valid">Submit</button>
                <button mat-button mat-dialog-close>Close</button>
            </mat-dialog-actions>

        </form>
    </div>

</mat-dialog-content>
</div>
