
/deep/ #orange{
    background-color: #EDAB65;
}

#landmarkImg{
    height: 93%;
    width: 95%;
    margin: 4em 1em 3em 3em;
    border-radius: 10px;
}

button{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    background: #EDAB65;
    margin: 5px;
}

#createButton{
    font-size: 35px;
    background-color: #EDAB65;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 5px;
    display: inline-flex;
    float: right !important;
    margin-right: 2em;
    margin-top: 2em;
    box-shadow: 0px 3px 15px rgb(0, 0, 0);
}

.body{
    background-image: url('../../assets/matt-duncan-127528-unsplash.jpg') !important;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    margin-top: 5em;

}

mat-grid-list{
    background-color: white;
    margin: 8em auto;
    padding: .5em;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.842);
}


#msg{
    color:white;
    margin-left:3em;
}

/deep/ .mat-dialog-content {
    overflow-x:hidden !important;
    font-family: 'Barlow Condensed', sans-serif;
}

#content{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:25px;
    text-align: center;
}

body{
    margin: 0;
    overflow: scroll;
}

.phantomDiv{
    font-size: 100px;
    color: white;
    z-index: -4;
    visibility: hidden;
}