<h1>Landmark Display</h1>

<button mat-button (click)="openCreateDialog()">Create New Landmark</button>
<mat-grid-list cols="3" *ngFor="let userLandmark of userLandmarks">

  <mat-grid-tile-header>
    <h2>{{userLandmark.title}}</h2>
  </mat-grid-tile-header>

  <mat-grid-tile>
    <img src={{userLandmark.imageURL}} />
  </mat-grid-tile>

  <mat-grid-tile>
    <br>{{userLandmark.address}}<br>{{userLandmark.city}}<br>{{userLandmark.comments}}<br>{{userLandmark.dateLastVisited}}
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button id=userLandmark.id (click)="openUpdateDialog(userLandmark.id)">edit</button>
    <button mat-button id={{userLandmark.id}} (click)="deleteLandmark(userLandmark.id)">delete</button>
  </mat-grid-tile>

</mat-grid-list>
