
.landmarkImg{
    height: 100%;
    width: 85%;
    margin-left: 2em;

}

button{

    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    background: #EDAB65;
    margin: 5px;
}

#createButton{
    font-size: 35px;
    background-color: #EDAB65;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 5px;
    display: inline-flex;
    float: right !important;
    margin-right: 2em;
    margin-top: 2em;
}

.body{
    background-image: url('../../assets/matt-duncan-127528-unsplash.jpg') !important;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    overflow-y: hidden;
    margin-top: 5em;
}

mat-grid-list{
    background-color: white;
    margin: 8em;
    padding: .5em;
    border-radius: 10px;
}


#msg{
    color:white;
    margin-left:3em;
}

