.body{
  background-image: url('../../../assets/faroe.jpg') !important;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height:120vh;
  overflow-y: hidden;
  margin-top: 5em;
}
.signup {
  max-width: 400px;
  margin: 100px auto;
}
.signup form {
    display: flex;
    flex-direction: column;
  }

