<div class="text-center">
  <img src="./assets/vagabond.png" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;">
</div>

<h1 class="titleFont">Vagabond</h1>
<ul>
  <li class="bodyFont">“Stuff your eyes with wonder, live as if you’d drop dead in ten seconds. See the world. It’s more fantastic than any dream made or paid for in factories.” – Ray Bradbury<br><br></li>
  <li class="bodyFont">“Not all those who wander are lost.” – J.R.R. Tolkien<br><br></li>
  <li class="bodyFont">“Stop worrying about the potholes in the road and enjoy the journey.” – Babs Hoffman<br><br></li>
  </ul>
