<div class="text-center">
  <img src="./assets/vagabond.png" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;">
</div>

<h1 class="titleFont">Vagabond</h1>
<ul>
  <li class="bodyFont">“Stuff your eyes with wonder, live as if you’d drop dead in ten seconds. See the world. It’s more fantastic than any dream made or paid for in factories.” – Ray Bradbury<br><br></li>
  <li class="bodyFont">“Not all those who wander are lost.” – J.R.R. Tolkien<br><br></li>
  <li class="bodyFont">“Stop worrying about the potholes in the road and enjoy the journey.” – Babs Hoffman<br><br></li>
  </ul>

<mat-grid-list cols="2" *ngFor="let landmark of landmarks">

  <mat-grid-tile-header>
    <h2>{{landmark.title}}</h2>
  </mat-grid-tile-header>

 
  
  <mat-grid-tile>
    <img src={{landmark.imageURL}} />
  </mat-grid-tile>

  <mat-grid-tile>
    Location:{{landmark.address}}<br>{{landmark.city}}, {{landmark.state.state}}
    <br>
    {{landmark.comments}}
    <br>
    Date Visited: {{landmark.dateLastVisited | date}}
    <br>
    User: {{landmark.state.user.username}}
  </mat-grid-tile>


</mat-grid-list>

