<div class="body">
<mat-grid-list cols="3" class="landing" id="jumbo">
    <mat-grid-tile>
        <p class="bodyFont" id="quote">“Stuff your eyes with wonder, live as if you’d drop dead in ten seconds. See the world. It’s more fantastic than any dream made or paid for in factories.” – Ray Bradbury<br></p>
</mat-grid-tile>

<mat-grid-tile></mat-grid-tile>

<mat-grid-tile>
    <img class="logo" src="./assets/vagabond.png">
</mat-grid-tile>
</mat-grid-list>
<!-- <h1 class="titleFont">Vagabond</h1>
<ul>
  <li class="bodyFont">“Stuff your eyes with wonder, live as if you’d drop dead in ten seconds. See the world. It’s more fantastic than any dream made or paid for in factories.” – Ray Bradbury<br><br></li>
  <li class="bodyFont">“Not all those who wander are lost.” – J.R.R. Tolkien<br><br></li>
  <li class="bodyFont">“Stop worrying about the potholes in the road and enjoy the journey.” – Babs Hoffman<br><br></li>
  </ul> -->

<mat-grid-list class="landmark" cols="2" *ngFor="let landmark of landmarks">

  <mat-grid-tile-header>
    <h2 class="titleFont">{{landmark.title}}</h2>
  </mat-grid-tile-header>

  <mat-grid-tile>
    <img class="landmarkImg" src={{landmark.imageURL}} />
  </mat-grid-tile>

  <mat-grid-tile>
    <p class="bodyFont">Location:{{landmark.address}}<br>{{landmark.city}}, {{landmark.state.state}}
    <br>
    {{landmark.comments}}
    <br>
    Date Visited: {{landmark.dateLastVisited | date}}
    <br>
    User: {{landmark.state.user.username}}
    </p>
  </mat-grid-tile>


</mat-grid-list>

</div>