<h1 mat-dialog-title>Update State</h1>
<mat-dialog-content>
    <div class="formGroup">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmitUpdate(updateForm.value)">

        
            <label>
                State:
                <input id="state" type="text" formControlName="state" required>
            </label>

            <label>
                Date Last Visited:
                <input id="date" type="date" formControlName="dateLastVisited" required>
            </label>

            <label>
                Comments:
                <input id="comments" type="text" formControlName="comments">
            </label>


            <mat-dialog-actions>
                <button mat-button type="submit" [disabled]="!updateForm.valid">Submit</button>
                <button mat-button mat-dialog-close>Close</button>
            </mat-dialog-actions>

        </form>
    </div>

</mat-dialog-content>